
/* =====================================
        Must common css code Section
========================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}




body{
    font-family: 'Inter', sans-serif;
}




img{
    display:block;
    max-width:100%;
}



a{
    text-decoration:none;
}





ul{
    list-style:none;
}





/* ================================
        Navbar Section Star Here
===================================*/


.navbar{

    background:#ffffff;
}

.container{

    width:90%;
    max-width:1200px;
    margin:auto;
}



.nav-container{

    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.nav-menu{

    display:flex;
    gap: 24px;
}


.nav-menu a{

    color:#575757;
    font-size:16px;
    font-weight:500;
    
}



.btn{

    background:#1D4ED8;
    color:#ffffff;
    padding:12px 42px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;


}





/* ==================================
        Hero Section Star Here
===================================== */

.hero{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
        url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content{
    width: 100%;
    max-width: 1200px;
    height: 780px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.hero-text{
    width: 1000px;
}

.hero-text h1{
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 16px;
}

.hero-text span{
    font-style: italic;
}

.hero-text p{
    width: 760px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    color: #E8E8E8;
}

.hero-btn{
    margin-top: 150px;
    padding: 18px 42px;
}


/* =================================
      Speakers Section Start Here
================================= */

.speakers{

    padding:80px 0;
    background:#ffffff;

}

.container{

    width:1200px;
    margin:0 auto;

}

.speakers h2{

    font-size:56px;
    font-weight:900;
    text-align:center;
    margin-bottom:56px;
    color:#111111;

}

.speakers-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:32px;

}

.speaker-card{

    background:#ffffff;
    border:1px solid #E7E7E7;
    border-radius:12px;
    overflow:hidden;

}

.speaker-card img{

    width:100%;
    height:300px;
    object-fit:cover;
    display:block;

}

.speaker-info{

    padding:18px;

}

.speaker-info h5{

    font-size:12px;
    font-weight: 600;
    line-height: 18px;
    color:#2952E3;
    text-transform:uppercase;
    margin-bottom:8px;

}

.speaker-info h3{

    font-size:20px;
    font-weight:900;
    line-height: 28px;
    margin-bottom:10gitpx;
    color:#111111;

}

.speaker-info p{

    font-size:14px;
    color:#575757;
    line-height:21px;

}





/* =======================================
      Pricing Section Css Start Here
========================================== */
.pricing{
    padding: 80px 0;
    background: #fff;
}

.pricing h2{
    margin: 0;
    text-align: center;
    font-size: 48px;
    line-height: 60px;
    font-weight: 900;
    color: #0D1B2A;
}

.pricing-subtitle{
    margin: 12px 0 60px;
    text-align: center;
    font-size: 16px;
    color: #575757;
}


.pricing-grid{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;

}

.price-card{

    border:1px solid #E5E7EB;
    border-radius:12px;
    padding:32px;
    background:#fff;

}

.active-card{

    background:#0D1B2A;
    color:#ffffff;

}

.price-card span{

    font-size:13px;
    font-weight:600;
    line-height: 20px;
    color:#888888;

}

.active-card span{

    color:#93C5FD;

}

.price-card h3{

    font-size:48px;
    font-weight:800;
    margin:12px 0 5px;

}

.price-card small{

    display:block;
    color:#888888;
    margin-bottom:25px;

}

.active-card small{

    color:#FFFFFF50;

}

.price-card ul{

    list-style:disc;
    padding-left:20px;
    margin-bottom:30px;

}

.price-card ul li{

    margin-bottom:12px;
    color:#333333;
    font-size:15px;

}

.active-card ul li{

    color:#FFFFFF80;

}

.price-btn{

    display:block;
    text-align:center;
    text-decoration:none;
    border:1px solid #2F5BEA;
    color:#2F5BEA;
    padding:14px;
    border-radius:8px;
    font-weight:600;

}

.active-btn{

    background:#2F5BEA;
    color:#ffffff;

}




